/* General Reset */
body, h1, h2, h3, p, a, input, textarea, select {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Body Styling */
body {
    line-height: 1.6;
    color: #333;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/images/bg3.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Wrapper for Content */
.wrapper {
    flex: 1;
}

/* Header Styling */
header {
    background: #ff7f50;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    font-size: 1.8em;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #f8f9fa;
}


/* Contact Form Section */
#contact-form {
    padding: 40px 20px;
    max-width: 600px;
    margin: 0 auto;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-form input, #contact-form textarea {
    outline: none;
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;

}
#contact-form input:focus, #contact-form textarea:focus {
    outline: none;
    border: 2px solid #f09b1b ;
    transition: all 0.3s ease;
}


#contact-form textarea {
    height: 120px;
    resize: none;
}

#contact-form .btn {
    background: #526ba7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

#contact-form .btn:hover {
    background: #1d365e;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Ensures the footer stays at the bottom */
}

footer p {
    font-size: 1em;
}



